<?xml version="1.0"?>

<configuration>

  <!-- This system profile should deliver all available logging data. Furthermore 
			 a mini dump is created on error and critical messages. -->
  <system.diagnostics>
    <!--  Trace listeners  -->
    <sharedListeners>
      <add
        type="Agilent.Diagnostics.RollingTextWriterTraceListener, Agilent.Diagnostics"
        name="ErrorTextListener"
        traceOutputOptions="DateTime, Timestamp, ProcessId, ThreadId, Callstack"
        initializeData="%ProgramData%\Agilent Technologies\OmegaApplication\Trace\errors.txt"
        RollSizeKB="10000" RollFileExistsBehavior="Increment" TimestampPattern="yyyy-MM-dd" MaximumArchiveFiles="2">
        <filter
          type="System.Diagnostics.EventTypeFilter, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          initializeData="Error,ActivityTracing" />
      </add>
      <add
        type="Agilent.Diagnostics.RollingTextWriterTraceListener, Agilent.Diagnostics"
        name="AllTextListener"
        traceOutputOptions="DateTime, Timestamp, ProcessId, ThreadId"
        initializeData="%ProgramData%\Agilent Technologies\OmegaApplication\Trace\all.txt"
        RollSizeKB="10000" RollFileExistsBehavior="Increment" TimestampPattern="yyyy-MM-dd" MaximumArchiveFiles="2">
        <filter
          type="System.Diagnostics.EventTypeFilter, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          initializeData="Information,ActivityTracing" />
      </add>
      <add
        type="Agilent.Diagnostics.RollingTextWriterTraceListener, Agilent.Diagnostics"
        name="InternalErrorTextListener"
        traceOutputOptions="DateTime, Timestamp, ProcessId, ThreadId, Callstack"
        initializeData="%ProgramData%\Agilent Technologies\OmegaApplication\Trace\InternalErrors.txt"
        RollSizeKB="10000" RollFileExistsBehavior="Increment" TimestampPattern="yyyy-MM-dd" MaximumArchiveFiles="2">
        <filter
          type="System.Diagnostics.EventTypeFilter, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          initializeData="Error,ActivityTracing" />
      </add>
      <add
        type="Agilent.Diagnostics.RollingXmlWriterTraceListener, Agilent.Diagnostics"
        name="ErrorXmlListener" traceOutputOptions="DateTime, Timestamp, ProcessId, ThreadId, Callstack"
        initializeData="%ProgramData%\Agilent Technologies\OmegaApplication\Trace\errors.svclog"
        RollSizeKB="10000" RollFileExistsBehavior="Increment" TimestampPattern="yyyy-MM-dd" MaximumArchiveFiles="2">
        <filter
          type="System.Diagnostics.EventTypeFilter, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          initializeData="Error,ActivityTracing" />
      </add>
      <add
        type="Agilent.Diagnostics.RollingXmlWriterTraceListener, Agilent.Diagnostics"
        name="AllXmlListener" traceOutputOptions="DateTime, Timestamp, ProcessId, ThreadId"
        initializeData="%ProgramData%\Agilent Technologies\OmegaApplication\Trace\all.svclog"
        RollSizeKB="10000" RollFileExistsBehavior="Increment" TimestampPattern="yyyy-MM-dd" MaximumArchiveFiles="2">
        <filter
          type="System.Diagnostics.EventTypeFilter, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          initializeData="Information,ActivityTracing" />
      </add>
    </sharedListeners>

    <trace autoflush="true">
      <listeners>
        <clear />
        <add name="ErrorTextListener" />
        <add name="AllTextListener" />
        <add name="ErrorXmlListener" />
        <add name="AllXmlListener" />
        <add name="xmlListener" />
      </listeners>
    </trace>
    <sources>
      <!--
		List of trace sources:
		 - Link each trace source (name="") with a listener: where trace events should be reported (see above)
		 - set the trace source level (switchValue=""): which trace events should be reported
			 The following levels are supported:
				- All:         Allows all events through.  
				- Critical:    Allows only Critical events through.  
				- Error:       Allows Critical and Error events through.  
				- Warning:     Allows Critical, Error, and Warning events through.  
				- Information: Allows Critical, Error, Warning, and Information events through.  
				- Off:         Does not allow any events through.  
			 The following levels are not supported:
				- ActivityTracing:   Allows the Stop, Start, Suspend, Transfer, and Resume events through.  
				- Verbose Allows Critical, Error, Warning, Information, and Verbose events through.  
		-->

      <source name="Agilent.OpenLab.OmegaApplication" switchValue="All">
        <listeners>
          <clear />
          <add name="ErrorTextListener" />
          <add name="AllTextListener" />
          <add name="ErrorXmlListener" />
          <add name="AllXmlListener" />
          <add name="xmlListener" />
        </listeners>
      </source>
            
      <source name="Agilent.OpenLab.Framework.UI" switchValue="All">
        <listeners>
          <clear />
          <add name="ErrorTextListener" />
          <add name="AllTextListener" />
          <add name="ErrorXmlListener" />
          <add name="AllXmlListener" />
          <add name="xmlListener" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>