<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Agilent.OpenLAB.Framework.3rdParty.Infragistics.WPF" version="14.2.20142.2283" targetFramework="net45" />
  <package id="Agilent.OpenLAB.Framework.DataAccess.PluginInfrastructure" version="3.2.0.117" targetFramework="net45" />
  <package id="Agilent.OpenLAB.Framework.DefaultServices" version="3.2.0.117" targetFramework="net45" />
  <package id="Agilent.OpenLAB.Framework.Infrastructure.Interfaces" version="3.2.0.117" targetFramework="net45" />
</packages>