<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Agilent.OpenLAB.Framework.3rdParty.Diagnostics" version="1.55.0" targetFramework="net45" />
  <package id="Agilent.OpenLAB.Framework.3rdParty.Microsoft.Practices" version="2.1.505.3" targetFramework="net45" />
  <package id="Agilent.OpenLAB.Framework.Common" version="3.2.0.117" targetFramework="net45" />
  <package id="Agilent.OpenLAB.Framework.DefaultServices" version="3.2.0.117" targetFramework="net45" />
  <package id="Agilent.OpenLAB.Framework.Diagnostics" version="3.2.0.117" targetFramework="net45" />
  <package id="Agilent.OpenLAB.Framework.Infrastructure.Interfaces" version="3.2.0.117" targetFramework="net45" />
  <package id="Agilent.OpenLAB.Framework.UI" version="3.2.0.117" targetFramework="net45" />
  <package id="Agilent.OpenLAB.Framework.UI.Themes" version="3.2.0.117" targetFramework="net45" />
</packages>